.navbar-brand {
    background-color: teal;
}

body {
    background-image: url("../images/ocean-background.jpeg");
    background-color: rgb(62, 172, 223);
}

.center {
  text-align: center;
}

.bord {
  border: 0.125rem solid black;
}